:root {
  --text-color: #757575;
  --brand-color: #212121;
  --accent-color: #2196f3;
  --accent-precolor: #188ce8;
  --primary-color: #ffffff;
  --bacground-color: #2f303a;
  --background-precolor: #f5f4fa;
  --accent-topcolor: #000000;
  --button-color: #e5e5e5;
  --border-cardscolor: #eeeeee;
  --primary-color-icons: #afb1b8;
  --card-set-gap: 30px;
  --transition-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
  padding-top: 80px;
}
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.link {
  text-decoration: none;
  color: inherit;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
button {
  border: 1px solid transparent;
}

.main-button {
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-color);
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 0;
  min-width: 200px;
  min-height: 50px;
  justify-content: center;
  transition: background-color var(--transition-cubic);
}
.main-button:hover,
.main-button:focus {
  background-color: var(--accent-precolor);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.item {
  margin-top: 30px;
  margin-left: 30px;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

/* ------------------Header----------------------*/
.page-header {
  border-bottom: 1px solid #ececec;
  position: fixed;
  width: 100%;
  background-color: var(--primary-color);
  top: 0;
  left: 0;
  z-index: 2;
}
.container-head {
  display: flex;
  align-items: center;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  display: inline-block;
  margin-right: 93px;
}
.accent-top {
  color: var(--accent-topcolor);
}
.header-list {
  color: var(--brand-color);
  display: flex;
}
.header-item:not(:last-child) {
  margin-right: 50px;
}
.header-connect > .header-item:nth-child(1) {
  margin-right: 30px;
}

.header-connect {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}

.header-link {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  padding: 32px 0;
  position: relative;
  transition: color var(--transition-cubic);
}

.header-list .current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  bottom: -1px;
  left: 0;
  transition: transform var(--transition-cubic);
}

.set-link {
  display: flex;
  align-items: center;
}

.connect-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-link:focus,
.header-link:hover,
.current {
  color: var(--accent-color);
}

/* ------------------------Hero------------------------- */
.hero {
  background-color: var(--bacground-color);
  text-align: center;
}

.container-hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-image.jpg);
  max-width: 1600px;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 30px;
}

/* -------------------Services--------------------------- */

.services-item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
}

.services-item::before {
  content: "";
  display: block;
  margin-bottom: 30px;
  background-color: var(--background-precolor);
  height: 120px;
  background-size: 70px, 70px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

.details-icon::before {
  background-image: url(../images/antenna.svg);
}

.punctual-icon::before {
  background-image: url(../images/clock.svg);
}

.plan-icon::before {
  background-image: url(../images/diagram.svg);
}

.technology-icon::before {
  background-image: url(../images/astronaut.svg);
}

.services-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color);
  margin-bottom: 10px;
}

/* ---------------------------Doing---------------------------- */

main .doing {
  padding-top: 0;
}

.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  margin-bottom: 50px;
}

.doing-item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  position: relative;
}

.doing-title {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 27px 0px;
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: bold;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ---------------------------Team---------------------------- */

.team {
  background-color: var(--background-precolor);
}

.team-item {
  background: var(--primary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  border-radius: 0px 0px 4px 4px;
}

.team-post,
.team-pre-title {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
.team-pre-title {
  font-weight: 500;
  color: var(--brand-color);
  margin-bottom: 10px;
}
.card-title {
  padding: 30px 32px;
}

.social-card {
  display: flex;
  align-items: center;
}

.social-card-link {
  display: flex;
  color: var(--primary-color-icons);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: color var(--transition-cubic),
    background-color var(--transition-cubic);
}

.social-card-link:hover,
.social-card-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-color);
}

.icon-card-social {
  fill: currentColor;
}

/* ------------------------------Section Portfolio-------------------------- */

/* ---------------------Portfolio button---------------- */

.example-btn {
  font-weight: 500;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  background-color: var(--button-color);
  transition: color var(--transition-cubic),
    background-color var(--transition-cubic), box-shadow var(--transition-cubic);
}
.example-item {
  margin-right: 8px;
}
.example-item:last-child {
  margin-right: 0;
}

.example-btn:hover,
.example-btn:focus,
.active {
  color: var(--primary-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
/* ------------------------- Portfolio items ------------------------------*/

.pf-item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
}

.pf-link {
  display: flex;
  flex-direction: column;
}

.thumb {
  position: relative;
  overflow: hidden;
}
.overlay-box {
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  transform: translateY(100%);
  transition: transform var(--transition-cubic);
  display: flex;
  align-content: center;
  top: 0;
  left: 0;
}
.overlay-info {
  width: 100%;
  height: 294px;
  padding: 63px 24px;
  color: var(--primary-color);
  text-align: left;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.pf-link:hover .overlay-box,
.pf-link:focus .overlay-box {
  transform: translateY(0);
}

.pf-link:hover,
.pf-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.pf-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--brand-color);
  margin-bottom: 4px;
}

.pf-pre-title {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.pf-wrapper {
  padding: 20px 24px;
  border: 1px solid var(--border-cardscolor);
}

/* -------------------------Our Clients-------------------- */

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid var(--primary-color-icons);
  border-radius: 4px;
  transition: border var(--transition-cubic),
    transform 850ms cubic-bezier(0.4, 0, 0.2, 1);
  /* "ЭКСПЕРИМЕНТ! */
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
  transform: scale(1.3);
}

.clients-link:hover > .icon-clients,
.clients-link:focus > .icon-clients {
  fill: var(--accent-color);
}

.clients-item {
  background-color: var(--primary-color);
  flex-basis: calc(100% / 6 - var(--card-set-gap));
}

.icon-clients {
  fill: var(--primary-color-icons);
  transition: fill var(--transition-cubic);
}
/* -------------------------Footer------------------------ */

.footer {
  background-color: var(--bacground-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.foot-container:not(:last-child) {
  margin-right: 70px;
}
.foot-container:last-child {
  margin-left: auto;
}

.footer .logo {
  margin-right: 0;
  margin-bottom: 20px;
}
.address-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.accent-foot {
  color: var(--primary-color);
}
.address {
  font-style: normal;
  display: flex;
}
.address-city {
  color: var(--primary-color);
}
.connect .link:focus,
.connect .link:hover {
  color: #b6b6b6;
  transition: color var(--transition-cubic);
}
.address-item {
  margin-top: 0;
  margin-bottom: 9px;
}
.address-item:last-child {
  margin-bottom: 0;
}

/* -----------------------Social------------------------- */
.footer > .container {
  display: flex;
  align-items: baseline;
}

.footer-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.footer .social-card-link {
  color: var(--primary-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.footer .social-card-link:hover,
.footer .social-card-link:focus {
  background-color: var(--accent-color);
  transition: background-color var(--transition-cubic);
}
.icon-social {
  fill: currentColor;
}
/* ----------------------Subsribe-footer--------------------- */

.subscribe-input {
  font-size: 16px;
  color: var(--primary-color);
  min-width: 358px;
  height: 50px;
  padding: 0 15px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  outline: none;
  border-radius: 4px;
  background-color: inherit;
  transition: border-color var(--transition-cubic);
}

.subscribe-input:focus,
.subscribe-input:hover {
  border-color: var(--accent-color);
}

.subscribe-input::placeholder {
  padding: 0;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
  display: inline-flex;
  align-items: center;
}
.icon-button {
  margin-left: 10px;
}
/* -----------------------Modal window----------------------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-cubic),
    visibility var(--transition-cubic);
}

.backdrop.is-hidden .modal {
  opacity: 0;
  visibility: visible;
  transform: translate(-50%, -50%) scale(2) rotate(120deg);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--primary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-cubic), opacity var(--transition-cubic),
    visibility var(--transition-cubic);
}

.btn-modal {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  padding: 6px;
  cursor: pointer;
  background-color: var(--primary-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: transform var(--transition-cubic),
    background-color var(--transition-cubic), color var(--transition-cubic),
    border var(--transition-cubic);
}

.btn-modal:hover,
.btn-modal:focus {
  background-color: var(--accent-color);
  color: var(--primary-color);
  border: black;
  transform: rotate(270deg);
}

.icon-close {
  display: inline-block;
  fill: currentColor;
}
/* -----------------------Styles to form modal window----------------------- */

.form-wrapper {
  margin-bottom: 20px;
}

.form-title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  margin-bottom: 12px;
}

.form-field {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-field:not(:last-child) {
  margin-bottom: 10px;
}

.form-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding: 0 42px;
  outline: none;
  transition: border-color var(--transition-cubic);
  display: flex;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  display: inline-block;
  transition: fill var(--transition-cubic);
}

.form-input:focus,
.textarea:focus,
.form-input:hover,
.textarea:hover {
  border-color: var(--accent-color);
  box-shadow: 0 0 10px rgba(98, 148, 206, 0.5);
}

.form-field:focus-within > .form-icon,
.form-field:hover > .form-icon {
  fill: var(--accent-color);
}

.form-field label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.textarea {
  resize: none;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  transition: border-color var(--transition-cubic);
}

.textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-link {
  color: var(--accent-color);
}

.form-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.form .main-button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.form-icon-check {
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 2px;
  fill: none;
  transition: border var(--transition-cubic),
    background-color var(--transition-cubic), fill var(--transition-cubic);
}

.input-checkbox:checked + .form-icon-check {
  border: transparent;
  background-color: var(--accent-color);
  fill: var(--primary-color);
}

.input-checkbox:focus + .form-icon-check,
.input-checkbox:hover + .form-icon-check {
  border: 2px solid var(--accent-color);
}
