.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid var(--primary-color-icons);
  border-radius: 4px;
  transition: border var(--transition-cubic),
    transform 850ms cubic-bezier(0.4, 0, 0.2, 1);
  /* "ЭКСПЕРИМЕНТ! */
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
  transform: scale(1.3);
}

.clients-link:hover > .icon-clients,
.clients-link:focus > .icon-clients {
  fill: var(--accent-color);
}

.clients-item {
  background-color: var(--primary-color);
  flex-basis: calc(100% / 6 - var(--card-set-gap));
}

.icon-clients {
  fill: var(--primary-color-icons);
  transition: fill var(--transition-cubic);
}
