.footer {
  background-color: $background-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container:not(:last-child) {
  margin-right: 70px;
}
.footer__container:last-child {
  margin-left: auto;
}

.footer__logo {
  margin-right: 0;
  margin-bottom: 20px;
}

.footer--accent {
  color: $primary-color;
}

.address {
  font-style: normal;
  display: flex;
}

.address__list {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.address__item:last-child {
  margin-bottom: 0;
}
.address-city {
  color: $primary-color;
}
.connect .link:focus,
.connect .link:hover {
  color: #b6b6b6;
  transition: color $transition-cubic;
}
.address__item {
  margin-top: 0;
  margin-bottom: 9px;
}

/* -----------------------Social------------------------- */
.footer > .container {
  display: flex;
  align-items: baseline;
}

.footer-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $primary-color;
  margin-bottom: 20px;
}

.footer .social-card-link {
  color: $primary-color;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer .social-card-link:hover,
.footer .social-card-link:focus {
  background-color: $accent-color;
  transition: background-color $transition-cubic;
}
.icon-social {
  fill: currentColor;
}
/* ----------------------Subsribe-footer--------------------- */

.subscribe-input {
  font-size: 16px;
  color: $primary-color;
  min-width: 358px;
  height: 50px;
  padding: 0 15px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  outline: none;
  border-radius: 4px;
  background-color: inherit;
  transition: border-color $transition-cubic;
}

.subscribe-input:focus,
.subscribe-input:hover {
  border-color: $accent-color;
}

.subscribe-input::placeholder {
  padding: 0;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
  display: inline-flex;
  align-items: center;
}
.icon-button {
  margin-left: 10px;
}
