.form-wrapper {
  margin-bottom: 20px;
}

.form-title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  margin-bottom: 12px;
}

.form-field {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-field:not(:last-child) {
  margin-bottom: 10px;
}

.form-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding: 0 42px;
  outline: none;
  transition: border-color var(--transition-cubic);
  display: flex;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  display: inline-block;
  transition: fill var(--transition-cubic);
}

.form-input:focus,
.textarea:focus,
.form-input:hover,
.textarea:hover {
  border-color: var(--accent-color);
  box-shadow: 0 0 10px rgba(98, 148, 206, 0.5);
}

.form-field:focus-within > .form-icon,
.form-field:hover > .form-icon {
  fill: var(--accent-color);
}

.form-field label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.textarea {
  resize: none;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  transition: border-color var(--transition-cubic);
}

.textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-link {
  color: var(--accent-color);
}

.form-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.form .main-button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.form-icon-check {
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 2px;
  fill: none;
  transition: border var(--transition-cubic),
    background-color var(--transition-cubic), fill var(--transition-cubic);
}

.input-checkbox:checked + .form-icon-check {
  border: transparent;
  background-color: var(--accent-color);
  fill: var(--primary-color);
}

.input-checkbox:focus + .form-icon-check,
.input-checkbox:hover + .form-icon-check {
  border: 2px solid var(--accent-color);
}
